// Styles de typographie
h1 {
  font-size: 2rem; // Taille de police par défaut pour h1
  margin: 0.67rem 0; // Marge par défaut pour h1
}

h2{
  font-size: 1.8rem;
}

hr {
  box-sizing: content-box; // Prévient les débordements avec box-sizing
  height: 0; // Masque les débordements
  overflow: visible; // Rends visible si un contenu est présent
}

pre {
  font-family: monospace, monospace; // Garde la police monospace pour <pre>
  font-size: 1rem; // Taille de police de base
}

a {
  background-color: transparent; // Supprime la couleur de fond par défaut sur certains navigateurs
  text-decoration: none; // Supprime le soulignement par défaut
  color: inherit; // Hérise la couleur du texte du parent
}

abbr[title] {
  border-bottom: none; // Supprime le soulignement en pointillés
  text-decoration: underline; // Souligne le texte
  text-decoration: underline dotted; // Ajoute des pointillés
}

b,
strong {
  font-weight: bolder; // Assure que le texte est plus gras
}

code,
kbd,
samp {
  font-family: monospace, monospace; // Police monospace pour le code
  font-size: 1rem;
}

small {
  font-size: 80%; // Rend le texte plus petit
}

sub,
sup {
  font-size: 75%; // Réduit la taille pour les exposants/indices
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem; // Positionne l'indice
}

sup {
  top: -0.5rem; // Positionne l'exposant
}

// All about the color of website

$background-color:#F8FAFC;
$primary-color: #161616;