// Déclaration du mixin
@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

// Utilisation du mixin
.my-container {
  @include flex-center; // Appel du mixin
  height: 200px;
  border: 1px solid black;
}