button{
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
}

.btn__flex{
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 1rem;
}

/* Media quieries*/
@media (min-width: 766px) {
  .btn__flex{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}