form{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border: 1px solid #eeeeee;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input{
    width: 100%;
    padding: 0.8rem;
    background: #f3f3f3;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: #383838;
    transition: ease-in-out 0.7s;
}

input:focus{
    background: #d6e4ee;
    transition: ease-in-out 0.5s;
}

input:hover{
    background: #d6e4ee;
    transition: ease-in-out 0.5s;
    cursor: text;
}

input:focus{
    outline: none;
}

input::placeholder{
    font-weight: 400;
    font-size: 0.8rem;
}

textarea{
    width: 100%;
    min-height: 200px;
    padding: 0.8rem;
    background: #f3f3f3;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #383838;
    transition: ease-in-out 0.7s;
}

textarea:focus{
    background: #d6e4ee;
    transition: ease-in-out 0.5s;
}

textarea:hover{
    background: #d6e4ee;
    transition: ease-in-out 0.5s;
    cursor: text;
}

textarea:focus{
    outline: none;
}

textarea::placeholder{
    font-weight: 400;
    font-size: 0.8rem;
}

/* For tablet*/

@media (min-width: 766px) {
    input{
        width: 100%;
        padding: 0.8rem;
        background: #f3f3f3;
        border: none;
        border-radius: 2rem;
        font-size: 1rem;
        font-weight: 600;
        color: #383838;
    }

    form{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border: 1px solid #eeeeee;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
}

/* For laptop*/

@media (min-width: 1024px) {
    input{
        width: 100%;
        padding: 0.8rem;
        background: #f3f3f3;
        border: none;
        border-radius: 2rem;
        font-size: 0.8rem;
        font-weight: 500;
        color: #383838;
    }

    input:focus{
        background: #d6e4ee;
        transition: ease-in-out 0.5s;
    }

    input:hover{
        background: #d6e4ee;
        transition: ease-in-out 0.5s;
        cursor: text;
    }

    input:focus{
        outline: none;
    }

    form{
        width: 100%;
        height: 100%;
        max-width: 400px;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        gap: 0.5rem;

    }

    .form__title{
        width: 100%;
        text-align: center;
    }

    .regis__form{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    .form__flex__center{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

/*for desktop*/

@media (min-width: 1680px) {
    input{
        width: 100%;
        padding: 0.8rem;
        background: #f3f3f3;
        border: none;
        border-radius: 2rem;
        font-size: 0.8rem;
        font-weight: 500;
        color: #383838;
    }

    form{
        width: 100%;
        height: 100%;
        max-width: 600px;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        gap: 1rem;
    }

    .form__title{
        width: 100%;
        text-align: center;
    }

    .regis__form{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .form__flex__center{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}