form{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid #eeeeee;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input{
    width: 100%;
    max-width: 400px;
    padding: 0.8rem;
    background: #f3f3f3;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #383838;
}

input:focus{
    outline: none;
}

input::placeholder{
    font-weight: 400;
    font-size: 0.8rem;
}

/* For tablet*/

@media (min-width: 766px) {
    input{
        width: 100%;
        max-width: 700px;
        padding: 0.8rem;
        background: #f3f3f3;
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        color: #383838;
    }
}

/* For laptop*/

@media (min-width: 1024px) {
    input{
        width: 100%;
        max-width: 700px;
        padding: 0.8rem;
        background: #f3f3f3;
        border: none;
        border-radius: 0.3rem;
        font-size: 0.8rem;
        font-weight: 500;
        color: #383838;
    }

    form{
        width: 100%;
        height: 100%;
        max-width: 600px;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
}

/*for desktop*/