.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Style pour le contenu de la modale */
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border-radius: 8px;
  width: 100%;
  margin-top: 10%;
  max-width: 500px;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-header{
  color: gray;
  font-weight: 600;
  font-size: 0.9rem;
}

.modal-header span{
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1rem;
}

/* Style pour l'en-tête de la modale */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #eee;
}

/* Style pour le corps de la modale */
.modal-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Style pour le pied de la modale */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  border-top: 1px solid #eee;
  gap: 8px;
}

/* Style pour le bouton de fermeture */
.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

/* Style pour les boutons d'action */
.cancel-btn, .submit-btn {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

/* for tablet */
@media (min-width: 766px) {
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    position: relative;
    top: 10%;
    left: 30%;
    bottom: 0;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    max-height: 600px;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

/* for laptop */
@media (min-width: 1024px) {
    .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    position: relative;
    top: 30%;
    left: 25%;
    bottom: 0;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

/* for desktp */
@media (min-width: 1680px) {
    
}