img{
    width: 150px;
    height: 300px;
    object-fit: cover;
    background-size: cover;
    border-radius: 10px;
}

.pic__container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; /* Alignement en haut par défaut */
    gap: 0.5rem;
    height: auto;
}

/* Cible les images paires (2e, 4e) pour les aligner en bas */
.pic__container img:nth-child(even) {
    align-self: flex-end; /* Pousse vers le bas */
}
.pair, .impair {
    transition: 0.7s ease-in-out;
}

.pair:hover, .impair:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

@media (min-width: 766px) {
    img{
        width: 200px;
        height: 400px;
        object-fit: cover;
        background-size: cover;
        border-radius: 10px;
    }

    .pic__container {
        min-height: 50vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start; /* Alignement en haut par défaut */
        gap: 0.5rem;
        height: auto;
    }

        /* Cible les images paires (2e, 4e) pour les aligner en bas */
    .pic__container img:nth-child(even) {
        align-self: flex-end; /* Pousse vers le bas */
    }
}

@media (min-width: 1024px) {
    img{
        width: 140px;
        height: 300px;
        object-fit: cover;
        background-size: cover;
        border-radius: 10px;
    }
}