.main__section{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1rem;
}

/* Main__container*/
.main__container{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

@media (min-width: 766px) {
    .main__section{
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.1rem;
        min-height: 100vh;
    }

    .main__container{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

@media (min-width: 1024px) {

    main{
        width: 90%;
    }

    .main__section{
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 3rem;
        min-height: 100vh;
        min-width: 90%;
    }

    .main__container{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    #features__section{
        background: #2199de;
        background: linear-gradient(90deg,rgba(33, 153, 222, 1) 0%, rgba(186, 186, 186, 1) 50%, rgba(252, 252, 250, 1) 100%);
        border-radius: 2rem;
    }
}