:root{
    /* CSS HEX */
    --primary-color:#1B3C53;
    --secondary-color: #456882;
    --tertiary-color: #f0dacb;
    --near-white: #F9F3EF;
    --zomp: #439775ff;
    --dark-slate-gray: #2a4747ff;
}