.flex__center{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5rem;
}

.flex__inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.grid__two_and_four__fr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media(min-width:1024px){
    .flex__center{
        gap:0.5rem;
        padding-top: 1rem;
    }
   .grid__two_and_four__fr{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    .form__flex__center{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}