.flex__center{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}

.flex__inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.grid__two_and_four__fr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media(min-width:1024px){
    .flex__center{
        gap:2rem
    }
   .grid__two_and_four__fr{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    } 
}