
h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0.67rem 0;
  color: var(--primary-color);

}

h2{
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark-slate-gray);
  line-height: 1.5;
}

p{
  font-size: 1.1rem;
  font-weight: 500;
  color: gray;
  line-height: 1.5;
}

label{
  font-size: 1rem;
  font-weight: 500;
  color: gray;
  line-height: 1.5;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1rem;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

i{
  font-size: 1rem;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1rem;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem; 
}

sup {
  top: -0.5rem;
}

span i{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem;
  background: #0f1e2b;
  border-radius: 1rem;
  color: #fff;
  max-width: 50px;
}

/* Media quieries*/
@media (min-width: 766px) {
  
  h1{
    font-size: 4rem;
    font-weight: 700;
  }

  h2{
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  h1, h2 {
    width: 100%;
    text-align: center;
  }

  p{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }

  span i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    background: #0f1e2b;
    border-radius: 1rem;
    color: #fff;
    max-width: 50px;
  }
}

@media (min-width: 1024px) {
  
  h1{
    font-size: 4rem;
  }
  
  h1, h2 {
    width: 100%;
    text-align: center;
  }

  p{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }

  span i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.8rem;
    background: #0f1e2b;
    border-radius: 1rem;
    color: #fff;
    max-width: 50px;
  }
}