@import './base/_base.css';
@import './base/_reset.css';
@import './base/_typography.css';
@import './base/_positionning.css';
@import './layout/_container.css';
@import './components/_button.css';
@import './components/_pictures.css';
@import './components/_form.css';
@import './components/_card.css';

#app {
  width: calc(100% - 4rem); /* Compense les marges */
  margin: 0 2rem;           /* Marges gauche/droite */
  padding: 2rem;
  font-weight: normal;
}