@import './base/_base.css';
@import './base/_reset.css';
@import './base/_typography.css';
@import './base/_positionning.css';
@import './layout/_container.css';
@import './components/_button.css';
@import './components/_pictures.css';
@import './components/_form.css';
@import './components/_card.css';
@import './components/_form.css';
@import './components/_modal.css';
@import './components/_researchBox.css';

#app {
  width: calc(100% - 2rem); /* 1rem de marge à gauche + 1rem à droite = 2rem */
  margin: 0 1rem;
  padding: 1rem;
  font-weight: normal;
  box-sizing: border-box;
}

@media (min-width: 766px) {
  #app {
    width: calc(100% - 4rem); /* 2rem de marge à gauche + 2rem à droite = 4rem */
    padding: 1rem;
    margin: 0 2rem;
    box-sizing: border-box;
  }
}

@media (min-width: 1024px) {
  #app {
    /* Calcule la largeur en soustrayant les marges latérales (2rem + 2rem = 4rem) */
    width: calc(100% - 4rem);
    padding: 1rem;
    margin: 0 auto; /* Centre l'élément horizontalement */
    max-width: 1680px; /* Limite la largeur maximale */
    box-sizing: border-box;
  }
}

@media (min-width: 1260px) {

}