@import './base/_base.css';
@import './base/_reset.css';
@import './base/_typography.css';
@import './base/_positionning.css';
@import './layout/_container.css';
@import './components/_button.css';
@import './components/_pictures.css';
@import './components/_form.css';
@import './components/_card.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
